<div class="fixed-socials reveal fade-up">
    <p><a href="{{site.data.general.social-links.instagram}}"><span class="iconify" data-icon="ph:instagram-logo-fill"></span></a></p>
    <p><a href="{{site.data.general.social-links.tiktok}}"><span class="iconify" data-icon="simple-icons:tiktok"></span></a></p>
    <p><a href="{{site.data.general.social-links.facebook}}"><span class="iconify" data-icon="brandico:facebook"></span></a></p>
    <p><a href="{{site.data.general.social-links.youtube}}"><span class="iconify" data-icon="dashicons:youtube"></span></a></p>  
</div>